@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #01684f;
  --ternary-color: #f58220;
  --transition: all 300ms ease-in;
  --font-heading: "Montserrat", sans-serif;
  --font-text: "Calibri", arial;
  --font-primary: "Poppins", sans-serif;
  --padding-regular-1: 2rem;
  --padding-regular-2: 1rem;
  --padding-regular-3: 0.75rem;
  --padding-regular-4: 0.25rem;
}
button {
  cursor: pointer;
}
body {
  background-color: #f9f9f9;
  font-size: 1rem;
  font-family: var(--font-primary);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: relative;
}

.sidebar {
  height: 100%;
  background-color: #f9f9f9;
  position: fixed;
  left: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0 0 0.5rem;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.links li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem;
}

.links li:hover {
  border-left: 5px solid #01684f;
}

.links li a:nth-child(1) {
  width: 60px;
  height: 60px;
  background: blue;
  border-radius: 100%;
}

.links li a:nth-child(1):hover {
  background-color: #01684f;
  box-shadow: 0 0 2px 5px blueviolet;
}

.links li a:nth-child(2) {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.dash__container {
  height: 100%;
  width: 93vw;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  background-color: #f9f9f9;
  border-left: 10px solid var(--ternary-color);
}

.active {
  width: 80vw;
}

.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #f9f9f9;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__container {
  display: flex;
  align-items: center;
}

.sidebar-icon {
  width: 50px;
  height: 50px;
  background: yellow;
}

.bank-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 50ms ease-in-out;
}

.sidebar-bank-logo {
  object-fit: contain;
  width: 200px;
  height: 40px;
  background: var(--secondary-color);
  opacity: 0;
  transition: all 100ms ease-in;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 1.5rem;
}

.show-symbol {
  display: none;
}

.show-sidebar-bank-logo {
  opacity: 1;
  margin-left: 0rem;
}

.right__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkmode {
  width: 80px;
  height: 30px;
  background: yellow;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.profile-container p {
  margin-left: 10px;
  margin-right: 10px;
}
