* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #01684f;
  --ternary-color: #f58220;
  --transition: all 300ms ease-in;
  --font-heading: "Montserrat", sans-serif;
  --font-text: "Calibri", arial;
  --font-primary: "Poppins", sans-serif;
  --padding-regular-1: 2rem;
  --padding-regular-2: 1rem;
  --padding-regular-3: 0.75rem;
  --padding-regular-4: 0.25rem;
}
button {
  cursor: pointer;
}
body {
  background-color: whitesmoke;
  font-size: 1rem;
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
  color: black;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  background: gray;
  display: relative;
}

.sidebar {
  height: 100%;
  background-color: var(--ternary-color);
  position: fixed;
  left: 0;
  right: 0;
  width: 15vw;
  height: 100%;
}

.dash__container {
  height: 100%;
  width: 95vw;
  background: #01684f;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 200ms ease-in-out;
}

.active {
  width: 85vw;
}

.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: blue;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left__container {
  display: flex;
  align-items: center;
}

.sidebar-icon {
  width: 50px;
  height: 50px;
  background: yellow;
}
.sidebar-bank-logo{
 width: 200px;
  height: 50px;
  background: yellow;
  margin-left: 1rem;
  opacity: 1;
  transition: all 200ms linear;
}

.bank-logo {
  width: 200px;
  height: 50px;
  background: yellow;
  margin-left: 1rem;
  opacity: 1;
  transition: all 200ms linear;
}

.show-logo {
  opacity: 0
}

.right__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.darkmode {
  width: 80px;
  height: 30px;
  background: yellow;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.profile-container p {
  margin-left: 10px;
  margin-right: 10px;
}
